[Desktop Entry]
Type=Application
Tooltip=QT base check/calculate checksum
Name=qhash
Name[zh_TW]=qhash
Comment=QT base check/calculate checksum
Icon=qhash
exec=qhash
Terminal=false
Categories=QT;
