[Desktop Entry]
Type=Action
Tooltip=Pack files/directory as zip file at here
Name=Pack as zip
Name[zh_TW]=壓縮為 zip
Profiles=profile-zip;profile-zero
Icon=ark

[X-Action-Profile profile-zip]
Name=Pack as Zip
#Exec=lxqt-archiver -a %f.zip %F
Exec=lxqt-archiver -d %F -a %f.zip

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=lxqt-archiver --add %F
Name=Compress as Zip
