[Desktop Entry]
Type=Action
Tooltip=Pack files as zip file at here 
Name=Pack as zip
Name[zh_TW]=壓縮為 zip
Profiles=profile-zip
Icon=file-roller

[X-Action-Profile profile-zip]
Name=Pack as Zip
Exec=file-roller -a %f.zip %F

